*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial;
}

/*---------------header start---------------*/

.header{
    display: flex;
    justify-content: space-between;
    padding: 0 140px;
    height: 56px;
    align-items: center;
    border-bottom: 1px solid #3f3f3f;
}

.header img{
    width: 132px;
}

.header-right{
    display: flex;
    gap: 32px;
}

.header-right a{
    text-decoration: none;
    color: #666;
    font-family: Arial;
}
/*-----------header end----------------*/

/*--------------hero section start----------*/
.hero-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #424242;
}

.hero-section img{
    width: 560px;
    margin: 52px 0;
}

.hero-section p{
    margin-bottom: 20px;
}

.hero-section a{
    text-decoration: none;
    background-color: #387ed1;
    color: white;
    padding: 6px 12px;
    border-radius: 4px;
}

/*-----------------hero-section end---------------*/

/*---------------trust section start------------------*/

.trust-section{
    display: flex;
    justify-content:space-between;
    padding: 0 140px;
    margin-top: 100px;
}

.trust-section a{
    color: #387ed1;
    text-decoration: none;
}

.trust-right img{
    width: 540px;
}

.trust-left h2{
    padding-bottom: 40px;
}

.trust-left h3{
    margin-bottom: 12px;
}

.trust-right{
    text-align: center;
}

.products-link{
    margin-right: 40px;
}

/*------------trust section end-----------------*/